<!doctype html>
<title></title>
<h1>Compose a new message</h1>
<form action="/store_message" method="get">
        From: <input type="text" name="from"><br>
        Title: <input type="text" name="title"><br>
        <textarea rows="4" cols="40" name="message">Write your message here...</textarea><br>
        Time: <input type="text" name="time" value="{{ current_time }}" readonly><br>
        <input type="submit" value="Send">
</form>
{% for message in messages %}
        <br><br>
        <b><u>{{ message['title'] }}</b></u><br>
        {{ message['message'] }}<br>
        <i>{{ message['sender'] }}, {{ message['time'] }}</i><br>
{% endfor %}